#logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

#basketballMedia {
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

#existingMember {
    color: #666;
    text-align: center;
    margin-top: 30px;
}

#existingMember a {
    font-weight: bold;
}

ion-card-content {
    text-align: center;
}
