<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <picture>
      <source srcset="../../../assets/logo.svg" type="image/svg+xml">
      <img id="logo" src="../../../assets/logo.png" alt="HoopData Logo">
    </picture>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" strong="true" size="large">Shots</ion-button>
  <ion-button expand="block" strong="true" size="large">Timer</ion-button>
  <ion-button expand="block" strong="true" size="large">Drills</ion-button>
  <ion-button expand="block" strong="true" size="large">View Players</ion-button>
  <!-- <div id="mediaContainer">
    <picture>
      <source srcset="../../../assets/basketball.svg" type="image/svg+xml">
      <img id="basketball" src="../../../assets/basketball.png" alt="Basketball Image">
    </picture>
  </div> -->
</ion-content>
