#logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
    position: relative;
    left: -20px;
}

ion-button {
    margin-bottom: 30px;
}

// #mediaContainer {
//     text-align: center;
// }

// #mediaContainer #basketball {
//     max-width: 250px;
// }
