<ion-app>
  <ion-menu side="start" type="overlay" *ngIf="isLoggedIn()">
    <ion-header>
      <ion-toolbar id="menuContainer">
        <div float-left>
          <ion-icon name="contact"></ion-icon>
          <span>{{user.firstName + ' ' + user.lastName}}</span>
        </div>
        <div>
            <span>Pos - {{user.position || 'N/A'}}</span>
            <span>HT - {{user.height || 'N/A'}}</span>
            <span>WT - {{user.weight || 'N/A'}} {{user.weight && 'lbs'}}</span>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle id="sideMenu" auto-hide="false">
          <ion-list>
            <ion-item>
              <ion-icon name="home"></ion-icon>
              Home
            </ion-item>
            <ion-item>
              <ion-icon name="contact"></ion-icon>
              My Profile
            </ion-item>
            <ion-item>
              <ion-icon name="stats"></ion-icon>
              Training Progress
            </ion-item>
            <ion-item>
              <ion-icon name="settings"></ion-icon>
              Settings
            </ion-item>
            <ion-item (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Logout
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
